<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="JWDFinalTask">
  <test name="CalculatorTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.calculator"/>
    </packages>
  </test>
  <test name="DaoTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.dao"/>
    </packages>
  </test>
  <test name="DBTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.db"/>
    </packages>
  </test>
  <test name="DTOTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.dto"/>
    </packages>
  </test>
  <test name="MailTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.mail"/>
    </packages>
  </test>
  <test name="TagTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.tag"/>
    </packages>
  </test>
  <test name="UtilTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.util"/>
    </packages>
  </test>
  <test name="ValidatorTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.validator"/>
    </packages>
  </test>
  <test name="CommandTests">
    <packages>
      <package name="com.sidorovich.pavel.buber.core.command"/>
    </packages>
  </test>
</suite>